.input_heading{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: darksalmon;
}
.input_heading p{
    width: 90%;
}
.submit_button{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
.primary_button{
    width: 15%;
}




/* 
.plastering_body .input_container .inc_r_exc_plastering_area p{
    width: fit-content;
    text-align: center;
    }
    .plastering_body .input_container .number_input{
        display: flex;
        flex-direction: row;
    }
    .plastering_body .input_container .number_input select{
        background: rgba(0,0,0,0);
        color: darksalmon;
        width: 50px;
        margin-left: 20px;
    }
    .plastering_body .input_container .modal_input{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .plastering_body .input_container .modal_input .blinkingRightArrow{
        align-self: center;
        margin-left: 1vw;
    }
    .plastering_body .input_container .modal_input a{
        margin-left: 2vw;
        display: flex;
        align-items: center;
    }
    .plastering_body .input_container .submit_button{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
    }
    .plastering_body .input_container .primary_button{
        width: 15%;
    } */