.inc_r_exc_plastering_area{
    width: 80%;
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: cursive;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    background: radial-gradient(#000000, #0202026b);
}
.inc_r_exc_plastering_area p{
width: fit-content;
text-align: center;
}
.inc_r_exc_plastering_area .number_input{
    display: flex;
    flex-direction: row;
}
.inc_r_exc_plastering_area .number_input select{
    background: rgba(0,0,0,0);
    color: darksalmon;
    width: 50px;
    margin-left: 20px;
}
.inc_r_exc_plastering_area .modal_input{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.inc_r_exc_plastering_area .modal_input .blinkingRightArrow{
    align-self: center;
    margin-left: 1vw;
}
.inc_r_exc_plastering_area .modal_input a{
    margin-left: 2vw;
    display: flex;
    align-items: center;
}
.inc_r_exc_plastering_area .modal_input img{
    width: 30px;
    height: 30px;
    transition-duration: 0.5s;
}
.inc_r_exc_plastering_area .modal_input img:hover{
    transform: scale(1.2);
}