.modal_overlay{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal_content{
    width: 40vw; 
    height: 80vh;
    /* width: 40%;
    height: 90%; */
    background: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0px;
    bottom: 0px;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    color: black;
}
@media all and (max-width: 800px){
    .modal_content{
        width: 60%;
    }
}
@media all and (max-width: 400px){
    .modal_content{
        width: 80%;
        height: 90%;
    }
}
@media all and (max-width: 200px){
    .modal_content{
        width: 100%;
        height: 100%;
    }
}
/* @media all and (max-width:) */
@media all and (max-width:300px){
    .modal_heading{
        font-size: 100%;
    }
}
.primary_button{
    border-radius: 20%;
    width: 50%;
    height: 4vh;
    background: blue;
    color: white;
    font-size: 80%;
    border: none;
    box-shadow: 4px 4px 15px black;
    transition-duration: 0.5s;
    outline: none;
}
.primary_button:hover{
    transform: scale(1);
    background: #080867;
    margin-left: 4px;
    font-weight: bold;
    outline: none;
}
.primary_button:focus{
    outline: none;
}
@media all and (max-width:500px){
    .primary_button{
        width: 55%;
    }
}
@media all and (max-width:350px){
    .primary_button{
        width: 60%;
    }
}
@media all and (max-width:250px){
    .primary_button{
        width: 65%;
    }
}
.secondary_button{
    border-radius: 20%;
    width: 65%;
    height: 4vh;
    background: #ff5050;
    color: white;
    font-size: 80%;
    border: none;
    box-shadow: 4px 4px 15px black;
    transition-duration: 0.5s;
    outline: none;
}
.secondary_button:hover{
    transform: scale(1);
    background: darkred;
    margin-left: 4px;
    font-weight: bold;
    outline: none;
}
.secondary_button:focus{
    outline: none;
}
@media all and (max-width:500px){
    .secondary_button{
        width: 80%;
    }
}
@media all and (max-width:300px){
    .secondary_button{
        width: 90%;
    }
}
@media all and (max-width:250px){
    .secondary_button{
        width: 100%;
    }
}