.error_modal_overlay{
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    top: 0;
}
.error_modal_content{
    width: 80vw;
    height: 30vh;
    position: absolute;
    /* background: #ff00003b; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error_modal_content p{
    color: red;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.error_modal_content .secondary_button{
    margin-top: 3vh;
    width: 10%;
}