.wm_modal_content{
    width: 30%;
    height: 70%;
    transition-duration: 0.5s;
}
@media all and (max-width:1100px){
    .wm_modal_content{
        width: 35%;
    }
}
@media all and (max-width: 900px){
    .wm_modal_content{
        width: 40%;
    }
}
@media all and (max-width: 800px){
    .wm_modal_content{
        width: 45%;
    }
}
@media all and (max-width: 700px){
    .wm_modal_content{
        width: 50%;
    }
}
@media all and (max-width: 600px){
    .wm_modal_content{
        width: 55%;
    }
}
@media all and (max-width: 550px){
    .wm_modal_content{
        width: 60%;
    }
}
@media all and (max-width: 500px){
    .wm_modal_content{
        width: 70%;
    }
}
@media all and (max-width: 400px){
    .wm_modal_content{
        width: 80%;
    }
}
@media all and (max-width: 360px){
    .wm_modal_content{
        width: 90%;
    }
}
@media all and (max-width: 320px){
    .wm_modal_content{
        width: 100%;
    }
}
.wm_modal_heading{
    /* width: 35vw; */
    /* height: 10vh; */
    width: 100%;
    height: 20.5%;
    background: aliceblue;
    position: relative;
    /* font-size: 2vw; */
    font-size: 120%;
    font-weight: bold;
    color: orange;
    text-align: center;
    pointer-events: none;
}
.wmm_grid_container{
    height: 87.5%;
    display: grid;
    /* align-items: center;
    justify-items: left; */
    padding: 0% 7%;
    grid-template-columns: 1fr;
    row-gap: 2%;
    grid-template-rows: repeat(3, 25%);
    grid-auto-rows: 15%;
    font-weight: bold;
}
.wmm_grid_element{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.wmm_space_between{
    display: flex;
    align-items: baseline;
}
.wmm_unit{
    font-size: 70%;
    padding-left: 0.5vw;
}
.wmm_grid_container .wmm_input{
    width: 50%;
    height: 4vh;
    float: right;
    border-radius: 20%;
    background: antiquewhite;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.wmm_grid_element .wmm_CSRatio{
    display: flex;
}
.wmm_CSRatio_element{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wmm_grid_container .wmm_grid_element .wmm_csr_input{
    width: 20%;
    height: 4vh;
    border-radius: 20%;
}
.wmm_buttons{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
}
.wmm_buttons .primary_button{
    width: 50%;
}
.wmm_buttons .secondary_button{
    width: 50%;
}
/* .wmm_split_vertically{
    display: grid;
    grid-template-rows: 70% 30%;
}
.wmm_label{
    font-size: 100%;
    margin-bottom: 0px;
}
 */