.plastering_wrapper{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-right: 0px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.plastering_header{
    width: 100vw;
    height: 15vh;
}
.plastering_header p{
    font-family: cursive;
    font-size: 4vw;
    font-weight: bold;
}


.plastering_body{
    display: flex;
    flex-direction: row;
    height: 80vh;
}
.plastering_body .input_container{
    width: 60vw;
    flex-direction: column;
}
/* .plastering_body .input_container img{
    width: 30px;
    height: 30px;
    transition-duration: 0.5s;
} */
/* .plastering_body .input_container .input_heading{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: darksalmon;
}
.plastering_body .input_container .input_heading p{
    width: 90%;
} */
.plastering_body .input_container .inc_r_exc_plastering_area{
    width: 80%;
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: cursive;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    background: radial-gradient(#000000, #0202026b);
}
.plastering_body .output_container{
    width: 40vw;
}
.plastering_body .output_container .output_heading{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: left;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: darksalmon;
    margin-left: 30%;
}
.plastering_body .output_container .output_box{
    width: 100%;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    outline: none;
    padding-top: 0.5vh;
}
.plastering_body .output_container .outputColor{
    color: greenyellow;
}
.plastering_body .output_container .defaultColor{
    color: white;
}
.plastering_body .output_container .total{
    font-weight: bold;
    font-size: 16px;
    width: 250px;
}