.wrapper{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-right: 0px;
    position: absolute;
}
.heading{
    position: absolute;
    width: 80vw;
    height: 9vh;
    margin-top: 1.5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 1.5vh; 
}
.heading p{
    color:white;
    line-height: 60px;
    font-size: 4vw;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 0px;
}
.body{
    width: 80vw;
    position: absolute;
    top: 20vh;
    left: 10vw;
    right: 10vw;
    font-size: 2.5vw;
    color: whitesmoke;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
}
.welcome_overlay{
    background: rgba(0, 0, 0, 0.4);

}
.body p{
    margin-top: 0vh;
    margin-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}
.images{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.images img{
    width:11vw;
    height:15vh;
}
.todaysCost{
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    font-size: 2vw;    
    flex-direction: column;
}
.align_spacearound{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.coins{
    width:100px;
    height:70px;
    transition-duration: 0.5s;
}
.coins:hover{
    transform: translateY(1vh);
}
.todaysCost p{
    font-size: 2vw;
}
.todaysCost .noHit{
    text-shadow: 3px 3px 5px #f3ff3f;
}
.todaysCost .success{
    text-shadow: 3px 3px 5px #4bfb11;
}
.todaysCost .failure{
    text-shadow: 3px 3px 5px red;
}